<!-- Header -->
<!-- Header fragment -->
<div th:insert="~{fragments/header :: header}"></div>
<!-- Navbar fragment -->
<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <div class="container">
        <div class="container mx-auto col-md-6" id="search-form">
            <!-- ALERTS TO PROVIDE USER FEEDBACK ON SUCCESSFUL REGISTRATION -->
            <div th:if="${param.successRegistration}">
                <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                    Thanks for your registration and welcome to flightbooker!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <!-- ALERTS TO PROVIDE USER FEEDBACK ON SUCCESSFUL LOG IN -->
            <div th:if="${param.successLogin}">
                <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
                    Welcome back
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <!-- ALERTS TO PROVIDE USER FEEDBACK ON SUCCESSFUL FLIGHT BOOK -->
            <div th:if="${param.successBooking}">
                <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
                    Flight Booked Successfully
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <!-- ALERTS TO PROVIDE USER FEEDBACK ON FLIGHT NOT FOUND ERROR  -->
            <div th:if="${param.flightNotFound}">
                <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
                    Flight Not Found
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div id="header">
                <h1 class="mt-3">Search for flights</h1>
            </div>
            <div class="flight" id="flightbox">
                <!-- FLIGHT FORM -->
                <form action="#" th:action="@{/flights}" th:object="${flightDTO}" method="post"
                    class="row g-3 needs-validation" novalidate>
                    <!-- TRIP TYPE -->
                    <!-- <div class="mb-3">
                            <select class="form-select" name="Flight-type" aria-label="Default select example">
                                <option selected>Flight Type</option>
                                <option value="Return">Return</option>
                                <option value="One Way">One Way</option>
                            </select>
                        </div> -->

                    <!-- FROM/TO INPUTS FIELDS-->
                    <div class="col-md-6">
                        <label for="leavingFrom" class="form-label">Leaving From</label>
                        <select class="form-select" th:field="*{origin}" aria-label="Default select example"
                            id="leavingFrom" required>
                            <option value="" selected disable>Choose...</option>
                            <option th:each="airport: ${airports}" th:text="${airport.getFormattedLocation()}"
                                th:value="${airport.getFormattedLocation()}">Two
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            Please select the airport of origin
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="arrivingAt" class="form-label">Arriving At</label>
                        <select class="form-select" th:field="*{destination}" id="arrivingAt"
                            aria-label="Default select example" required>
                            <option value="" selected disable>Choose...</option>
                            <option th:each="airport: ${airports}" th:text="${airport.getFormattedLocation()}"
                                th:value="${airport.getFormattedLocation()}">Two
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            Please select the airport of destination
                        </div>
                    </div>

                    <!-- DEPARTURE DATE DATE PICKER -->
                    <div class="col-12">
                        <label for="departureDate" class="form-label">Departure Date</label>
                        <input type="date" class="form-control" th:attr="min=${today}" id="departureDate"
                            th:field="*{departureDate}" required>
                        <div class="invalid-feedback">
                            Please select the departure date.
                        </div>
                    </div>

                    <!-- NUMBER OF PASSENGER INPUT FIELD -->
                    <div class="col-12">
                        <label class="form-label" for="seats">Number Passengers</label>
                        <input type="number" id="seats" class="form-control" value="1" min="1" max="166"
                            th:field="*{numOfPassengers}" />
                        <div class="invalid-feedback">
                            Please select the number of passengers
                        </div>
                    </div>

                    <!-- SEARCH BUTTON -->
                    <div class="col-12">
                        <div class="d-grid mx-auto">
                            <input type="submit" id="search-flight" value="Search flights" class="btn btn-dark" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    //JAVASCRIPT SNIPPET TO PROVIDES DATA VALIDATION ON FRONT END WHEN FORM IS SUBMITTED
    //IT WILL SUPPLY A MESSAGE BELOW THE BLANK INPUT FIELD
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        // it checks every input field that its class attribute contains "needs-validation"

        //TODO: MOVE JS TO SEPARTE FILE
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>

<!-- Footer fragment -->
<div th:insert="~{fragments/footer :: footer}"></div>