<!-- Header -->
<!-- Header fragment -->
<div th:insert="~{fragments/header :: header}"></div>
<!-- Navbar fragment -->
<div th:insert="~{fragments/navbar :: navbar}"></div>

    <div class="container">
        <div class="container">
            <div class="container gap-2 col-8" id="search-form">
                <div id="header">
                    <h1 class="mt-3">Check out</h1>
                </div>
                <div class="flight" id="flightbox">
                    <!-- FLIGHT FORM -->
                    <form action="#" th:action="@{/bookings/flights/{id}(id=${flight.id})}" th:object="${bookingDTO}"
                        method="post" class="row g-3 needs-validation" novalidate>
                        <!-- TRIP TYPE -->
                        <!-- <div class="mb-3">
                            <select class="form-select" name="Flight-type" aria-label="Default select example">
                                <option selected>Flight Type</option>
                                <option value="Return">Return</option>
                                <option value="One Way">One Way</option>
                            </select>
                        </div> -->
                        <!-- PASSENGER INFO -->
                        <div class="col-12">
                            <label class="form-label" for="seats">Number Passengers</label>
                            <input type="number" id="seats" class="form-control" value="1" min="1" max="166"
                                th:field="*{passengers}" />
                            <div class="invalid-feedback">
                                Please select the number of passengers
                            </div>
                        </div>

                        <!-- CARDS WITH BOOKING SUBTOTAL INFO -->
                        <div id="header">
                            <h1 class="mb-3">Details</h1>
                        </div>
                        <div class="card my-3 shadow">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <div class="d-md-flex justify-content-between">
                                            <h5 class="card-title" th:text="|From: ${flight.origin}|"></h5>
                                            <h5 class="card-title" th:text="|To: ${flight.destination}|"></h5>
                                        </div>
                                        <div class="d-md-flex justify-content-between">
                                            <p class="card-text"><small class="text-muted"
                                                    th:text="|Price per seat: |"></small><span
                                                    class="text-dark-emphasis"
                                                    th:text="${flight.formattedPrice}"></span></p>
                                        </div>
                                        <div class="d-md-flex justify-content-between">
                                            <h5 class="card-title" th:text="|Subtotal: |" id="subtotalLabel"></h5>
                                            <h5 class="card-title" th:text="${flight.price}" id="subtotal"></h5>
                                        </div>
                                        <div class="d-md-flex justify-content-between">
                                            <h5 class="card-title" th:text="|Tax (estimated): |" id="taxLabel"></h5>
                                            <h5 class="card-title" th:text="${flight.price * 0.10}|" id="tax"></h5>
                                        </div>
                                        <div class="d-md-flex justify-content-between">
                                            <h5 class="card-title" th:text="|Total: |" id="totalLabel">
                                            </h5>
                                            <h5 class="card-title" th:text="${flight.price * 1.10}" id="total">
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- BOOKING FORM BUTTON -->
                        <div class="col-12">
                            <div class="d-grid mx-auto">
                                <input type="submit" value="Confirm" class="btn btn-dark" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container gap-2 col-8 my-3" id="bookingSubtotal">

            </div>
        </div>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
    <script th:inline="javascript">

        //SCRIPT TO UPDATES THE VALUES OF THE SUBTOTAL CARD
        let flightPrice = /*[[${flight.price}]]*/ 199.99;
        const passengersInput = document.querySelector('#seats');
        const subtotalText = document.querySelector('#subtotal');
        const taxText = document.querySelector('#tax');
        const totalText = document.querySelector('#total');
        const saleTax = 0.10 //FOR DEMOSTRATIONS PURPOSES ONLY

        // Create our number formatter. FROM: https://stackoverflow.com/questions/149055/how-to-format-numbers-as-currency-strings
        const formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',

            // These options are needed to round to whole numbers if that's what you want.
            //minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
            //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
        });

        //INITIALIZES THE SUBTOTAL CARDVIEW FIELDS
        subtotalText.innerHTML = `${formatter.format(0)}`;
        taxText.innerHTML = `${formatter.format(0)}`;
        totalText.innerHTML = `${formatter.format(0)}`;

        //LISTENER THAT UPDATES SUBTOTAL CARD FIELDS WHEN USER CHANGE THE NUMBER OF PASSAGERS
        const uddateSubtotal = passengersInput.addEventListener('change', () => {
            let passengers = passengersInput.value;
            let subtotal = flightPrice * passengers;
            subtotalText.innerHTML = `${formatter.format(subtotal)}`;
            taxText.innerHTML = `${formatter.format(subtotal * saleTax)}`;
            totalText.innerHTML = `${formatter.format(subtotal * (1 + saleTax))}`;
        })
    </script>

<!-- Footer fragment -->
<div th:insert="~{fragments/footer :: footer}"></div>