<!-- Header -->
<!-- Header fragment -->
<div th:insert="~{fragments/header :: header}"></div>
<!-- Navbar fragment -->
<div th:insert="~{fragments/userBookingsNavBar :: userBookingsNavBar}"></div>

<div class="container-lg">
    <div class="container-md">
        <h1 class="mt-4">Bookings</h1>
        <!-- CARDS WITH BOOKINGS INFO -->
        <!-- CONDITIONAL TO CHECK IF SEARCH QUERY RENDERED RESULTS IF SO DISPLAY MATCHING RESULTS -->
        <div class="container" th:if="${bookings.size()>0}">
            <div class="container" th:each="booking : ${bookings}">
                <div class="card my-3 shadow">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="card-body">
                                <div class="d-md-flex justify-content-between">
                                    <h5 class="card-title" th:text="|Confirmation No: ${booking.bookingNumber}|">
                                    </h5>
                                    <h5 class="card-title" th:text="|Booking Date: ${booking.bookedDate}|"></h5>
                                </div>
                                <div class="d-md-flex justify-content-between">
                                    <p class="card-text"><small class="text-muted"
                                            th:text="|Flight Number: |"></small><span class="text-dark-emphasis"
                                            th:text="${booking.flight.flightNumber}"></span></p>
                                    <p class="card-text"><small class="text-muted"
                                            th:text="|Departure Time: |"></small><span class="text-dark-emphasis"
                                            th:text="${booking.flight.formattedDepartureTime}"></span></p>
                                    <p class="card-text "><small class="text-muted"
                                            th:text="|Departure date: |"></small><span class="text-dark-emphasis"
                                            th:text="${booking.flight.departureDate}"></span></p>
                                </div>
                                <div class="d-md-flex justify-content-between">
                                    <p class="card-text "><small class="text-muted" th:text="|From: |"></small><span
                                            class="text-dark-emphasis" th:text="${booking.flight.origin}"></span>
                                    </p>
                                    <p class="card-text "><small class="text-muted" th:text="|To: |"></small><span
                                            class="text-dark-emphasis" th:text="${booking.flight.destination}"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <form th:action="@{/bookings/user/{id}(id=${booking.id})}" method="POST">
                                    <button type="submit" class="btn btn-dark col-12">Cancel</button>
                                </form>
                                <a class="btn btn-outline-secondary col-12 my-3"
                                    th:href="@{/flights/{id}(id=${booking.flight.id})}">Flight Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ELSE: BOOKINGG LIST EMPTY MESSAGES -->
        <div class="container" th:unless="${bookings.size()>0}">
            <div class="card my-3 shadow bg-white">
                <div class="row border-danger">
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="d-md-flex justify-content-between">
                                <h5 class="card-title" th:text="|Your bookings list is empty.|">
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card-body">
                            <a class="btn btn-dark text-white col-12" th:href="@{/}">Search Flights</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer fragment -->
<div th:insert="~{fragments/footer :: footer}"></div>